body,
html {
  margin: 0;
  padding: 0;

  background-color: #dae0e6;
}

/* Post delta rendering fix */
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

html,
a,
div,
input {
  box-sizing: border-box;
}

html {
  font-family: IBMPlexSans;
  font-size: 14px;
}

input {
  border: none;
  font-family: "NotoSans";
}

.input:focus {
  outline: none;
  box-shadow: 0 0 3px rgb(0, 121, 211);
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: 400;
  src: local("IBMPlexSans"),
    url(../public/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: 500;
  src: local("IBMPlexSans"),
    url(../public/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: 600;
  src: local("IBMPlexSans"),
    url(../public/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf)
      format("truetype");
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: 700;
  src: local("IBMPlexSans"),
    url(../public/fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: local("NotoSans"),
    url(../public/fonts/noto-sans/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 600;
  src: local("NotoSans"),
    url(../public/fonts/noto-sans/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: local("NotoSans"),
    url(../public/fonts/noto-sans/NotoSans-Bold.ttf) format("truetype");
}
